body {
    font-size: 18px;
}

section, footer {
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.jumbotron {
    background: url(../images/screenprint-sepia.jpg) center;
    background-size: cover;
    color: white;
}

.call-p {
    margin-top: 50px;
}


.btn-primary {
    background: #a0b7c7;
    border: #93AABA;
}

.shirts-img {
    height: 300px;
}

.portrait-paul {
    width: 100%;
    margin-top: 40px;
}

.gray {
    background: #edece8;
}

.address {
    padding-bottom: 30px;
}

.address ul {
    list-style-type: none;
}

#map {
    height: 400px;
    width: 100%;
}

footer {
    background: #555555;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}