.jumbotron {
    background: url(../images/screenprint-sepia.jpg) center;
    background-size: cover;
    color: white;
}

.call-p {
    margin-top: 50px;
}


.btn-primary {
    background: #a0b7c7;
    border: #93AABA;
}

.shirts-img {
    height: 300px;
}

.portrait-paul {
    width: 100%;
}

.gray {
    background: #edece8;
}

footer {
    background: #555555;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
}